html {
    position: relative;
    min-height: 100%;
}

/* main {
    margin-bottom: 5rem !important;
} */
 
 #nav-profile-img {
    height: 40px;
    border-radius: 50%;
    width: 40px;

}

.profile-img {
        padding: 0;
}

/*
.Camera {
    width: 500px;
    height: 400px;
}

 */
 #webcam-filter
 {
    position: relative;
 }
 
 #filterimg {
    position: absolute;
    height: 20%;
    width: 20%;
    left: 35px;
    top: 20px;
}

.card-profile-image {
    border: none;
}

#card-profile-image {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

#upload-profile-picture {
    height: 100%;
    width: 100%;
    top: -160px;
}

.gall-profile {
    height: 40px;
    border-radius: 50%;
    width: 40px;

}

.page-footer {
    position: fixed;
    width: 100%;
    bottom: 0;
}
